/* Light mode colors */
:root {
    --primary-color-light: #3e2e17;
    --secondary-color-light: #E8CFC1;
    --footer-background-color-light: #2B2012;
}

body {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --footer-background-color: var(--footer-background-color-light);
}

/* Search bar styles */
.search-bar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    position: relative;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    padding: 0 20px;
    gap: 10px;
    width: 80%;
    margin-bottom: 10px;
    z-index: 1000; 
}

.query-text-box {
    margin: 0 auto;
    height: 40px;
    font-size: larger;
    width: 100%;
    border: none;
    outline: none;
}

.icon {
    margin: 10 auto;
    width: calc(4%);
}

.icon:hover {
    cursor: pointer;
    scale: 1.1;
    z-index: 900;
}

.suggestions-list {
    position: absolute;
    list-style-type: none;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; 
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(80% - 2px); 
    max-height: 200px;
    height: fit-content;
    padding: 15px 20px 15px 20px;
}

.suggestion {
    padding: 10px;
    font-size: 16px;
    color: black;
}
.suggestion:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.suggestions-list li.selected {
    background-color: #f0f0f0;     
}

/* Search result styles */
.result-container {
    border-radius: 25px;
    height: 200px;
    background-color: var(--secondary-color);
    padding-top: 10px;
    padding-left: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.result-content-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.result-title {
    border-radius: 25px;
    height: 52px;
    padding-right: 50px;
    font-size: 24px;
    color: var(--primary-color);
    width: 100%;
}

.result-link {
    border-radius: 25px;
    height: 52px;
    padding-right: 50px;
    font-size: smaller;
    width: 100%;
}

.result-snippet {
    width: 90%;
    font-size: 16px;
    max-height:40px;
    white-space: wrap;
}

/* Search results styles */
.results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    border-radius: 20px;
    height: fit-content;
    margin-bottom: 20px;
    padding: 0px 0px 50px 0px;
}

.pagination {
    display: flex;
    background-color: var(--primary-color);
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.previous-page,
.next-page {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-size: 20px;
}

.current-page {
    font-size: 24px;
    padding: 10px;
}

h5 {
    color: var(--secondary-color);
    margin-top: 60px;
}

/* Home page styles */
.main-container {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 95vh;
    gap: 10px;
    padding-top: 5vh;
}

.search-page-search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
}

.owl-img-main-page{
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
}
.Left-Eye,
.Right-Eye {
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    position: fixed;
    z-index: 1000;
    top: 123px;
}

.Left-Eye {
    left: 715px;
}

.Right-Eye {
    left: 788px;
}

/* Results page styles */
.owl-img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: fit-content;
}

.results-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
    background-color: var(--primary-color);
    color: white;
    padding: 20px 20px;
    height: fit-content;
    min-height: 100vh;
    margin-bottom: 20px;
}

/* Not found page styles */
.not-found {
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
    color: var(--primary-color);
    width: 60%;
}

/* Footer styles */
footer {
    background-color: var(--footer-background-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1px;
    font-size: larger;
    font-weight: bolder;
    width: 99.7%;
    position: fixed;
    bottom: 0;
}


.person-container {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.person-container::after {
    content: attr(data-name);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.person-container:hover::after {
    opacity: 1;
}

.profile-img {
    max-height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

