@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
  background-color: #2B2012;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 100px auto;
  width: 500px;
  gap:20px;
}


.query-text-box{
  border-radius: 25px;
  height: 50px;
  padding: 0px 30px;
  font-size: larger;
}
.hoot-button{
  border-radius: 25px;
  width: 100px;
  margin: 0 auto;
  background-color: #E8CFC1;
  height: 50px;
  font-weight: bolder;
  font-size: larger;
  color: #2B2012;
}
